# {{ ansible_managed }}
#
# Runtime config for the openZro dashboard SPA. Re-running the
# Ansible play with new values regenerates this file and
# re-invokes /usr/share/openzro-dashboard/render-env.sh to push
# the changes into the static bundle.

AUTH_AUTHORITY={{ openzro_dashboard_auth_authority }}
AUTH_CLIENT_ID={{ openzro_dashboard_auth_client_id }}
AUTH_AUDIENCE={{ openzro_dashboard_auth_audience }}
AUTH_SUPPORTED_SCOPES={{ openzro_dashboard_auth_supported_scopes }}
USE_AUTH0={{ openzro_dashboard_use_auth0 | string | lower }}

{% if openzro_dashboard_auth_client_secret %}
AUTH_CLIENT_SECRET={{ openzro_dashboard_auth_client_secret }}
{% endif %}
{% if openzro_dashboard_auth_redirect_uri %}
AUTH_REDIRECT_URI={{ openzro_dashboard_auth_redirect_uri }}
{% endif %}
{% if openzro_dashboard_auth_silent_redirect_uri %}
AUTH_SILENT_REDIRECT_URI={{ openzro_dashboard_auth_silent_redirect_uri }}
{% endif %}

OPENZRO_MGMT_API_ENDPOINT={{ openzro_dashboard_mgmt_api_endpoint }}
{% if openzro_dashboard_mgmt_grpc_api_endpoint %}
OPENZRO_MGMT_GRPC_API_ENDPOINT={{ openzro_dashboard_mgmt_grpc_api_endpoint }}
{% endif %}

OPENZRO_TOKEN_SOURCE={{ openzro_dashboard_token_source }}
OPENZRO_DRAG_QUERY_PARAMS={{ openzro_dashboard_drag_query_params | string | lower }}
